API_PORT=8000
NGINX_HTTP_PORT=8342
NGINX_HTTPS_PORT=8343

DOMAIN=                       # Set to your domain (e.g. hackthon.example.com) for Let's Encrypt

POSTGRES_USER=ft_hackthon
POSTGRES_PASSWORD=ft_hackthon
POSTGRES_DB=ft_hackthon

GITEA_ADMIN_USER=ft_hackthon
GITEA_ADMIN_PASSWORD=changeme123
GITEA_ORG=moulinerie

# Changed by cloud-init on deploy: http://<PUBLIC_IP>:3222
GITEA_PUBLIC_URL=http://localhost:3000

WORKER_ID=worker-1
BACKUP_INTERVAL=86400
BACKUP_RETENTION_DAYS=7
